{% extends 'base.html.twig' %}

{% block title %}All categories{% endblock %}

{% block body %}
    <img src="{{ asset('build/images/background_home.jpg') }}" class='background_home' alt="background_home"/>
<div class='cards_list'>
    <h1>Liste des catégories disponibles :</h1>
        {% for category in categories %}
            <div class='series_list'>
                <h2 class='series_list_info'>{{ loop.index }} / Catégorie : {{ category.name }}</h2>
                <a href="{{ path("category_show", { categoryName: category.name }) }}">Liste des séries</a>
            </div>
        {% else %}
            Aucune catégorie trouvée.
        {% endfor %}
</div>
    <a class='home_button_category' href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}