{% extends 'base.html.twig' %}

{% block title %}Catégorie {{ category.name }}{% endblock %}

{% block body %}
    <div class="media">
        <div class="cards_list">
        {% for program in programs %}
        <div class='series_list'>
            <h1 class="mt-0">{{ program.id }} / {{ program.title }}</h1>
            <p>{{ program.synopsis }}</p>
            <p>Catégorie : {{ program.category.name }}</p>
            <a href="{{ path("program_show", { id: program.id }) }}">Fiche détaillée</a>
        </div>
        {% endfor %}
        </div>
    </div>

    <a href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>
{% endblock %}