{% extends 'base.html.twig' %}

{% block title %}
            Episode #{{ episode.id }}
{% endblock %}

{% block body %}
    <img src="{{ asset('build/images/background_home.jpg') }}" class='background_home' alt="background_home"/>
    <div class="cards_list">
        <div class='series_list'>
            <h2 class="mt-0">{{ program.title }}</h2>
                <p>Saison numéro : {{ season.number }}</p>
                <p>Episode numéro : {{ episode.id }} / {{ episode.title }}</p>
            <p>Résumé d'épisode : {{ episode.synopsis }}</p>
            <p>Duration : {{ episode.duration }} minutes</p>
            </tr>
                <div class='poster_field'>
                    <img class="poster" src="{{program.poster}}" alt="{{ program.title }} poster" style="width: 20%; margin-left: 1rem; margin-bottom: 1rem">
                </div>
        </div>
    </div>
    <a class='return_button' href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>
{% endblock %}