{% extends 'base.html.twig' %}

{% block title %}
    {% for season in program.seasons %}
            Saison #{{ season.id }}
    {% endfor %}
{% endblock %}

{% block body %}
    <div class="cards_list">
        <div class='series_list'>
            <h2 class="mt-0">{{ program.id }} / {{ program.title }}</h2>
            <p>Résumé de la série : {{ program.synopsis }}</p>
            <p>Année de sortie : {{ program.year }}</p>
            <p>Pays de production : {{ program.country }}</p>
            <p>Catégorie : {{ program.category.name }}</p>
                <div class='poster_field'>
                    <img class="poster" src="{{program.poster}}" alt="{{ program.title }} poster" style="width: 20%; margin-left: 1rem; margin-bottom: 1rem">
                </div>
                <h2>Infos de la saison : </h2>
                    <div class='series_list'>
                        <ul>
                            <li class='series_list_info'>Résumé de la saison : {{ season.description}}</li>
                            <li class='series_list_info'>Année de parution : {{ season.year }}</li>
                        </ul>
                    </div>

                <h2>Liste des épisodes : </h2>
                {% for episode in season.episodes %}
                    <div class='series_list'>
                        <ul>
                            <li class='series_list_info'>Episode {{ episode.number}} : {{ episode.title}}
                                <p>Résumé de l'épisode : {{ episode.synopsis }}</p>
                            </li>
                        </ul>
                    </div>
                {% else %}
                    Aucune saisons trouvée.
                {% endfor %}
        </div>
    </div>

    <a href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>
{% endblock %}